.btn{
    font-weight: $font-weight-normal;

    @include opacity(.8);
    padding: $padding-base-vertical $padding-base-horizontal;

    @include btn-styles($default-color, none);

    &:hover,
    &:focus{
        @include opacity(1);
        outline: 0 !important;
        box-shadow: none;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }

    &.btn-icon{
        padding: $padding-base-vertical;
    }

}

// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.btn-primary { @include btn-styles($white-color, $primary-states-color); }
.btn-success { @include btn-styles($white-color, $success-states-color); }
.btn-info    { @include btn-styles($white-color, $info-states-color); }
.btn-warning { @include btn-styles($white-color, $warning-states-color); }
.btn-danger  { @include btn-styles($white-color, $danger-states-color); }
.btn-neutral {
    @include btn-styles($white-color, $white-color);

    &:active,
    &.active,
    .open > &.dropdown-toggle{
         background-color: $white-color;
         color: $default-color;
    }

    &.btn-fill,
    &.btn-fill:hover,
    &.btn-fill:focus{
        color: $default-color;
    }

    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}

.btn{
     &:disabled,
     &[disabled],
     &.disabled{
        @include opacity(.5);
    }
}
.btn-round{
    border-width: $border-thin;
    border-radius: $btn-round-radius !important;
    padding: $padding-round-vertical $padding-round-horizontal;

    &.btn-icon{
        padding: $padding-round-vertical;
    }
}
.btn-simple{
    border: $none;
    font-size: $font-size-medium;
    padding: $padding-base-vertical $padding-base-horizontal;

    &.btn-icon{
        padding: $padding-base-vertical;
    }
}
.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
   font-weight: $font-weight-normal;
}
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);
}
.btn-xs {
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $border-radius-small);
}
.btn-wd {
    min-width: 140px;
}

.btn-group.select{
    width: auto;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}
.btn-social{
    opacity: 0.85;
}

.btn-twitter{
    border-color: $social-twitter;
    color: $social-twitter;
    &:hover{
        opacity: 1 !important;
        border-color: $social-twitter;
        color: $social-twitter;
    }
}
.btn-facebook{
    border-color: $social-facebook;
    color: $social-facebook;

    &:hover{
        opacity: 1 !important;
        border-color: $social-facebook;
        color: $social-facebook;
    }
}
